@font-face {
  font-family: 'FippsRegular';
  src: url('../fonts/fipps___-webfont.eot');
  src: url('../fonts/fipps___-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/fipps___-webfont.woff') format('woff'),
       url('../fonts/fipps___-webfont.ttf') format('truetype'),
       url('../fonts/fipps___-webfont.svg#FippsRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  overflow: hidden;
  background: #000;
}
h1 {
  position: absolute;
  top:560px;
}

#center {
  width: 745px;
  margin: 0 auto;
}
#youtubecontainer { height: 0px; }

.healthbar {
  width: 150px;
  height: 16px;
  display:inline-block;
  outline:1px solid red;
  position:relative;
  top: 2px;
}
.healthbar div {
  position: absolute;
  height: 16px;
  width: 0;
  background: red;
}
.lives {
  color: red;
  margin-left:3px;
}
.hud {
  position: absolute;
  top: 5px;
  height:20px;
  color: #fff;
  width: 734px;
  padding: 5px 5px;
}
.hud span {
  margin-right: 40px;
}
.game {
  position: absolute;
  top: 50px;
  background: #000;
}
body {
  font-family: sans-serif;
  font-size: 11px;
}
.gamecontainer {
  position: relative;
}
.dialog-message {
  background: #111;
  padding: 5px 10px;
  color: white;
  max-width:120px;
  -webkit-box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 1);
  -moz-box-shadow:    inset 0px 0px 5px rgba(0, 0, 0, 1);
  box-shadow:         inset 0px 0px 5px rgba(0, 0, 0, 1);
  text-shadow: 1px 1px 3px #000000;
  border: 1px solid #aaa;
}
.dialog-message ,
.hud {
  font-family: 'UnifrakturCook';
  font-size: 16px;
}
.hud {
  font-size: 20px;
}
/*font-family: 'UnifrakturCook', cursive;
font-family: 'Spirax', cursive;
font-family: 'Love Ya Like A Sister', cursive;*/